@page "/AddTask"
@page "/AddTask/{id}"

    

@if (!inEditMode)
{
    <h1>Add Task</h1>
    <TaskForm></TaskForm>

}
else
{
    <h1>Edit Task</h1>
    <TaskForm taskId="@id" />
}

@code {
    [Parameter]
    public string? id { get; set; }

    bool inEditMode = false;

    protected override async Task OnInitializedAsync()
    {
        if (id != null)
        {
            inEditMode = true;
        }
    }
}
