a{
    color: #ffcd55;
    font-weight: bold;
}

a:hover{
    color: white; 
}

.help-wrapper{
    margin-right: 15em;
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: white;
    margin-left: 1.2em;
    padding-top: 1em;
}

.info-text {
    color: white;
    margin-left: 2.7em;
    font-size: 1.1rem;
}