@page "/Help"

<div class="help-wrapper">
    <h1>Get Started</h1>
    <h2>Add Project</h2>
    <div class="info-text">
        To get started you first need to create a new project <a href="/AddProject">here</a>.
        Now you can move on to the next step.
    </div>

    <h2>Add Task</h2>
    <div class="info-text">
        In the previous step you created a new project. To assign a task to this project, you have to go to the <a href="/Projects">project page</a>.
        Now press the + icon at the project card, to which you want to add the task. This will redirect you to a new page,
        where you can fill out the required fields and create a new task.

        If you want, you can repeat this step, until you have all tasks created, which you wanted.
    </div>

    <h2>Display the Gantt-Diagram</h2>
    <div class="info-text">
        The final step is to display the Gantt-Diagram for a specific project.
        To do so, you can navigate to the <a href="/Gantt">gantt page</a>.
        On this page you can select the project, you want to create the gantt-diagram for.

    </div>
</div>



@code {

}
