@using JUST.Data
@using JUST.Data.Models

@inject NavigationManager nm;
@page "/"


<div class="page">
    <h1>Willkommen</h1>
    <div class="button-area">
        <Syncfusion.Blazor.Buttons.SfButton OnClick="@OnClickProject" title="Projects">
            <span class="oi oi-spreadsheet" style="font-size: 3rem;" aria-hidden="true"></span>
        </Syncfusion.Blazor.Buttons.SfButton>
        <Syncfusion.Blazor.Buttons.SfButton OnClick="@OnClickTask" title="Tasks">
            <span class="oi oi-task" style="font-size: 3rem;" aria-hidden="true"></span>
        </Syncfusion.Blazor.Buttons.SfButton>
        <Syncfusion.Blazor.Buttons.SfButton OnClick="@OnClickGantt" title="Gantt">
            <span class="oi oi-project" style="font-size: 3rem;" aria-hidden="true"></span>
        </Syncfusion.Blazor.Buttons.SfButton>
        <Syncfusion.Blazor.Buttons.SfButton OnClick="@OnClickHelp" title="Help">
            <span class="oi oi-question-mark" style="font-size: 3rem;" aria-hidden="true"></span>
        </Syncfusion.Blazor.Buttons.SfButton>

    </div>

    <h1>Anstehende Tasks</h1>
    <div class="todo-area">
        <TaskListComponentLandingpage />
    </div>
</div>

@code {
    public void OnClickTask()
    {
        nm.NavigateTo("Tasks");
    }

    public void OnClickProject()
    {
        nm.NavigateTo("Projects");
    }

    public void OnClickGantt()
    {
        nm.NavigateTo("Gantt");
    }

    public void OnClickHelp()
    {
        nm.NavigateTo("Help");
    }
}
