@using JUST.Data
@using JUST.Data.Models


@page "/"


<div class="page">
    <h1>Willkommen</h1>
    <div class="button-area">
        
    </div>

    <h1>Anstehende Tasks</h1>
    <div class="todo-area">
        <TaskListComponentLandingpage />
    </div>
</div>

@code {

}
