@page "/Projects"
@using JUST.Data.Models;
@using JUST.Data;
@inject IProjectData _db;
@inject NavigationManager NavigationManager;

<div class="pages">
    <h1>Projects</h1>
    <ProjectForm></ProjectForm>

    <div>
        @foreach(var p in projects)
        {
            <ProjectCard project="@p"></ProjectCard>
        }
    </div>
</div>

@code {
    List<Project> projects = new List<Project>();

    protected override async Task OnInitializedAsync()
    {
        projects = await _db.GetProjects();
    }
   

}
