@import url('https://fonts.googleapis.com/css2?family=Lato%display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary: #375398;
    --secondary: #788FC8;
    --teal: #A8DADC;
    --hover: #d7d7d7;
    --warning: #FFAE68;
    --danger: #eb3f27;
    --success: #75fa83;
    --white: #FFFFF0;
    --dark: #1A1A1A;
    --shadow: #2f2f2f;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.pages {
    background-color: #375398;
}

.taskWrapper {
    position: absolute;
    margin-top: 3em;
    width: 1269px;
}

.button-area {
    margin-left: 3em;
}


.home-buttons {
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    filter: drop-shadow(0.13rem 0.13rem 0.1rem var(--shadow));
    background-color: var(--white);
    color: var(--dark);
    border: none;
    padding: 0.6em;
    font-size: 1.9em;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.e-btn {
    font-family: 'Lato', sans-serif;
    border-radius: 4px;
    cursor: pointer;
    filter: drop-shadow(0.13rem 0.13rem 0.1rem var(--shadow));
    background-color: black;
    color: white;
    border: none;
    font-size: 6rem;
    margin-left: 0.3em;
    width: 7em;
    height: 7em;
    margin-right: 0.3em;
}

    .e-btn:hover {
        background-color: var(--hover);
    }

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: white;
    margin-left: 1em;
    padding-top: 1em;
}

.projectcard-segment{
    float: left;
    width: 50%;
}

.todo-segment {
    font-family: 'Bebas Neue';
    float: right;
    font-size: 2em;
    align-items: center;
    color: black;
    background: var(--white);
    padding: 16px;
    border-radius: 7px;
    width: 30%;
    height: 70%;
}

.todo-segment-body{
    font-family: Arial;
    font-size: 0.9rem;
    color: black;
}

.todo-segment-todos{
    margin: 0!important;
    padding: 0!important;
}

