@page "/tasks"
@using System.Text.Json
@inject HttpClient Http

<div className='todo'>
    <h1>TASKS</h1>
    <div style={{width: 200}}>
        <ul>
            @foreach (var task in AllTasks)
            {
                <li>@task.
                </li>
            }
        </ul>
        

    </div>
</div>

@code {
    private List<Task> AllTasks { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("http://localhost:5000/api/tasks");
        var tasksJson = await response.Content.ReadAsStringAsync();

        AllTasks = JsonSerializer.Deserialize<List<Task>>(tasksJson, new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true,
        });
    }
}
