@page "/tasks"

<div className='todo'>
            <h1>TASKS</h1>
            <div style={{width: 200}}>
                

                <div className='todoWrapper'>
                    @*<TodoListComponent/>*@
                </div>

            </div>
        </div>

@code {

}
