<h1 class="main-title">
    TASKS
</h1>

<div class="content flexbox-panel-content">
  <mat-card class="wrapping-card">

    <mat-card-content>
        <mat-form-field appearance="outline" class="select-field">
            <mat-label>Projekt wählen</mat-label>
            <mat-select [(value)]="selectedProjectId" required>
                <mat-option *ngFor="let p of projects" [value]="p.id">
                    {{p.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-field">
            <mat-label>Taskname</mat-label>
            <input matInput name="taskNameInput" type="text" [(ngModel)]="title">
        </mat-form-field>



        <mat-form-field appearance="outline" class="date-field">
            <mat-label>Zeitspanne einfügen</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Startdatum" [(ngModel)]="startDate">
                <input matEndDate placeholder="Enddatum" [(ngModel)]="endDate">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>


        

        <button mat-raised-button color="basic" class="add-button" (click)="onSubmit()">Hinzufügen</button>

        <mat-card class="task-card" *ngFor="let t of tasksToShow()">
          <mat-card-content class="flexbox-panel-card">
            <div>{{ t.title }}</div>
            <div>{{ t.startDate.toString().substring(0, 10) }} bis {{ t.endDate.toString().substring(0, 10) }}</div>
            <button mat-icon-button class="edit-icon" (click)="editTask(t)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-icon" (click)="deleteTask(t.id)">
              <mat-icon>delete</mat-icon>
            </button>
        </mat-card-content>
        </mat-card>
    </mat-card-content>
  </mat-card>
</div>

<div class="flexbox-panel">

    <button mat-fab color="warn" class="fab-prev" aria-label="Previous" [routerLink]="'/projects'"
        matTooltip="Vorheriger Schritt" [matTooltipShowDelay]="showDelay.value">
        <mat-icon class="prev">arrow_back_ios</mat-icon>
    </button>

    <button mat-fab color="warn" class="fab-next " aria-label="Next" [routerLink]="'/gantt'"
        matTooltip="Nächster Schritt" [matTooltipShowDelay]="showDelay.value">
        <mat-icon class="next">arrow_forward_ios</mat-icon>
    </button>
</div>
