
<div class="dropdown">
    <div class="control">
        <div class="selected-value">
            
        </div>
    </div>
</div>


@code {
    [Parameter] public string? Prompt{ get; set; }
    [Parameter] public List<string>? Options { get; set; }
    [Parameter] public Action? OnChangeProp { get; set; } 
    [Parameter] public int Id{ get; set; }
    [Parameter] public Object? Value{ get; set; }
    

    public void OnChange()
    {
        OnChangeProp?.Invoke();
    }
}
