@using JUST.Data;
@using JUST.Data.Models
@using Syncfusion.Blazor.DropDowns
@inject IProjectData _db;
@inject NavigationManager NavigationManager;
 
<div class='project-card'>
        <div class='project-title'>
            @project.Title
            <p>
                Start Date: @project.StartDate.Date.ToString("dd.MM.yyyy")
                <br />
                End Date: @project.EndDate.Date.ToString("dd.MM.yyyy")
            </p>
        </div>
        <br />
        <div class='project-body'>
                
        </div>
        <div class="icons">
            <div class="icon"  @onclick="EditProject">
                <span class="oi oi-pencil"></span>
            </div>
            <div class="icon"  @onclick="DeleteProject">
                <span class="oi oi-circle-x"></span>
            </div>
        </div>

        <div id="listbox1">
            <h6>Tasks</h6>
            <SfListBox TValue="string[]" DataSource="@project.Tasks" AllowDragAndDrop="true" Scope="combined-list" Height="80px" TItem="JustTask" @ref="ListBoxObj">
                <ListBoxEvents TValue="string[]" TItem="JustTask" OnDrop="Change"></ListBoxEvents>
                <ListBoxEvents TValue="string[]" Created="created" TItem="JustTask"></ListBoxEvents>
                <ListBoxFieldSettings Text="Name" Value="ID"  />
            </SfListBox>
        </div>
</div>




@code {
    [Parameter]
    public Project project { get; set; }
    SfListBox<string[], JustTask> ListBoxObj;

    private async Task DeleteProject()
    {
        await _db.DeleteProject(project.ID);
        NavigationManager.NavigateTo("projects", true);
    }

    private void EditProject()
    {
        NavigationManager.NavigateTo($"AddProject/{project.ID}", true);
    }

    private void Change(DropEventArgs<JustTask> args)
    {
        project.Tasks.Remove(args.Items.First());
        _db.EditProject(project);
    }

    private void created(object args)
    {
        ListBoxObj.EnableItems(project, false);
    }
}
