.subtitle {
    flex: auto;
    float: left;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: white;
    padding-top: 0.3em;
    margin-bottom: 0;
}

.input-field {
    flex: auto;
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    margin-bottom: 0;
    margin-right: 4em;
    padding: 0;
}

.input-container {
    display: flex;
    margin: 0;
    padding: 0;
}
