@using JUST.Data;
@using JUST.Data.Models
@inject IProjectData _db;

<h3>ProjectCard</h3>

@*<div className='project-card' key={index}>
    <div key={project.id}>
        <div className='project-title'>
                        {project.title}
        </div>
        {"\n"}
        <div className='project-body'>
            Projektmitglied 1: null
        </div>

    </div>
    
</div>
*@
<div>
    @project.Title
<button type="button"  @onclick="deleteProject"> Delete</button>
</div>




@code {
    [Parameter]
    public Project project { get; set; }

    private void deleteProject()
    {
        
    }
}
