@using JUST.Data;
@using JUST.Data.Models
@inject IProjectData _db;
@inject NavigationManager NavigationManager;

<h3>ProjectCard</h3>
 
<div>
    @project.Title
<button type="button"  @onclick="DeleteProject"> Delete</button>
</div>




@code {
    [Parameter]
    public Project project { get; set; }

    private void DeleteProject()
    {
        _db.DeleteProject(project.ID);
        NavigationManager.NavigateTo("projects", true);

    }
}
