@using JUST.Data;
@using JUST.Data.Models
@inject IProjectData _db;
@inject NavigationManager NavigationManager;
 
<div class='project-card'>
        <div class='project-title'>
            @project.Title
            <p>
                Start Date: @project.StartDate.Date.ToString("dd.MM.yyyy")
            </p>
            <p>
                End Date: @project.EndDate.Date.ToString("dd.MM.yyyy")
            </p>
        </div>
        <br />
        <div class='project-body'>
                
        </div>
        <div class="icons">
            <div class="icon"  @onclick="EditProject">
                <span class="oi oi-pencil"></span>
            </div>
            <div class="icon"  @onclick="DeleteProject">
                <span class="oi oi-circle-x"></span>
            </div>
        </div>
</div>




@code {
    [Parameter]
    public Project project { get; set; }

    private async Task DeleteProject()
    {
        await _db.DeleteProject(project.ID);
        NavigationManager.NavigateTo("projects", true);

    }

    private async Task EditProject()
    {
        NavigationManager.NavigateTo($"AddProject/{project.ID}", true);
    }
}
