@using JUST.Data
@using JUST.Data.Models
@inject ITasksData _db;



<div class="taskList">
    <TaskForm />
    @foreach(var t in Tasks)
    {
        <TaskItem Task="@t" />
    }


</div>


@code {
    public List<JustTask> Tasks { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        Tasks = await _db.GetTasks();
    }
}
