@using JUST.Data
@using JUST.Data.Models
@inject ITasksData _db;

<div class="taskList">
    <TaskForm />
    <TaskItem Tasks="@Tasks" CompleteTaskProp="@CompleteTask" RemoveTaskProp="@RemoveTask" />


</div>


@code {
    public List<JustTask> Tasks { get; set; } = new();

    public async Task AddTask(JustTask task)
    {
        await _db.AddTask(task);
    }

    public void RemoveTask()
    {
        
    }

    public void CompleteTask()
    {
        
    }
}
