
<div>
    <form class="todo-form" onsubmit="() => HandleSubmit()">
        <input type="text" placeholder='Add a task'
                       value=@Input
                       name="text"
                       className="todo-input"
                       @onchange="() => HandleChange()"
                       />
    </form>

</div>


@code {
    [Parameter]
    public Action? OnSubmitProp { get; set; }

    public void OnSubmit()
    {
        OnSubmitProp?.Invoke();
    }

    public string Input {get; set;} = String.Empty;

    public void HandleSubmit()
    {
        
    }

    public void HandleChange()
    {
        
    }
}
