@using JUST.Data.Models

<div>
    @Task.Name
    <div class="icons">
        <div class ="icon" @onclick="() => RemoveTask(Task.ID)">
            <span class="oi oi-circle-x"></span>
        </div>
        <div class="icon" @onclick="() => CompleteTask(Task.ID)" >
            <span class="oi oi-circle-check"></span>
        </div>
    </div>
</div>
    
}
@code {
    [Parameter]
    public JustTask? Task { get; set; }

    [Parameter]
    public Action? RemoveTaskProp{ get; set; }

    [Parameter]
    public Action? CompleteTaskProp{ get; set; }

    public void RemoveTask(int id)
    {
        RemoveTaskProp?.Invoke();
    }

    public void CompleteTask(int id)
    {
        CompleteTaskProp?.Invoke();
    }
}
