@using JUST.Data;
@using JUST.Data.Models;
@inject ITasksData _db;

<div class="todo-row-sidebar">
    @Task?.Name
</div>

@code {
    [Parameter]
    public JustTask? Task { get; set; }
    UI ui;


    protected override void OnInitialized()
    {
        ui = new UI
        {
            Title = Task.Name,
            Event = () => 
        }
    }

    class UI
    {
        public String Title { get; set; }
        public Action Event { get; set; }
        public bool Dragged { get; set; }
    }
}