@using JUST.DataAccess


@foreach (var task in Tasks)
{
    <div className=@(task.Done ? "todo-row complete" : "todo-row")>
        @task.Name
    </div>

    <div class="icons" >
        <img src="/open-iconic/svg/circle-x.svg" class="icon" @onclick="() => RemoveTask(task.ID)">
        <img src="/open-iconic/svg/circle-check.svg" class="icon" @onclick="() => CompleteTask(task.ID)">
    </div>
    
}
@code {
    [Parameter]
    public List<JustTask> Tasks { get; set; }

    [Parameter]
    public Action RemoveTaskProp{ get; set; }

    [Parameter]
    public Action CompleteTaskProp{ get; set; }

    public void RemoveTask(int id)
    {
        RemoveTaskProp?.Invoke();
    }

    public void CompleteTask(int id)
    {
        CompleteTaskProp?.Invoke();
    }
}
