@using JUST.Data
@using JUST.Data.Models
@inject ITasksData _db;



<div class="taskList">
@if(CountTasksWithoutCompleted() < 1)
    {
    <div class="no-open-task">
        No open Tasks!
    </div>
    }
    @foreach(var t in Tasks)
    {
        <TaskItemLandingPage Task="@t" />
    }


</div>


@code {
    public List<JustTask> Tasks { get; set; } = new();

    public int CountTasksWithoutCompleted()
    {
        int count = 0;
        foreach(var t in Tasks)
        {
            if (!t.Done)
            {
                count++;
            }
        }
        return count;
    }

    protected override async Task OnInitializedAsync()
    {
        Tasks = await _db.GetTasks();
    }
}
