@using JUST.DataAccess
<h3>TaskItem</h3>

@foreach (var task in Tasks)
{
    <div className=@(task.Done ? "todo-row complete" : "todo-row")>
        @task.Name
    </div>

    <div class="icons" >
        <img src="/open-iconic/svg/circle-x.svg" class="icon" @onclick="() => removeTask(task.ID)">
        <img src="/open-iconic/svg/circle-check.svg" class="icon" @onclick="() => completeTask(task.ID)">
    </div>
    
}
@code {
    [Parameter]
    public List<JustTask> Tasks { get; set; }

    [Parameter]
    public Action removeTaskProp{ get; set; }

    [Parameter]
    public Action completeTaskProp{ get; set; }

    public void removeTask(int id)
    {
        removeTaskProp.Invoke();
    }

    public void completeTask(int id)
    {
        completeTaskProp.Invoke();
    }
}
