<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">JUST.Client</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav-menu-items">
        <li class="nav-text">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-text">
            <NavLink class="nav-link" href="tasks">
                <span class="oi" aria-hidden="true"></span> Tasks
            </NavLink>
        </li>
        <li class="nav-text">
            <NavLink class="nav-link" href="projects">
                <span class="oi" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        <li class="nav-text">
            <NavLink class="nav-link" href="calender">
                <span class="oi" aria-hidden="true"></span> Calender
            </NavLink>
        </li>
        <li class="nav-text">
            <NavLink class="nav-link" href="settings">
                <span class="oi" aria-hidden="true"></span> Settings
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
