
    <h1 class="main-title">
        PROJECTS 
    </h1>

    <div class="content flexbox-panel-content">
        <!--<mat-card class="project-card">
            <mat-card-title>
                Project cock
            </mat-card-title>
            <mat-card-subtitle>
                yes
            </mat-card-subtitle>
            <mat-card-content>kalöjdfkasjödflkajsö</mat-card-content>
        </mat-card>-->
        
        
       
    </div>

    <div class="flexbox-panel">

        <button mat-fab color="warn" class="fab-prev" aria-label="Previous" 
                [routerLink]="'/'" 
                matTooltip="Vorheriger Schritt" [matTooltipShowDelay]="showDelay.value">
            <mat-icon class="prev">arrow_back_ios</mat-icon>
        </button>

        <button mat-fab color="warn" class="fab-next" aria-label="Next" [routerLink]="'/tasks'" matTooltip="Nächster Schritt" [matTooltipShowDelay]="showDelay.value">
            <mat-icon class="next">arrow_forward_ios</mat-icon>
        </button>
    </div>
