<h1 class="main-title">
    PROJEKTE
</h1>

<div class="content flexbox-panel-content">
    <mat-card class="wrapping-card" >
        <mat-card-content>
            <mat-form-field appearance="outline" class="input-field">
                <mat-label>Projektname</mat-label>
                <input matInput name="projectNameInput" type="text" [(ngModel)]="title">
            </mat-form-field>
            <mat-form-field appearance="outline" class="date-field">
                <mat-label>Zeitspanne auswählen</mat-label>
                <input matInput>
            </mat-form-field>

            <button mat-raised-button color="basic" class="add-button" (click)="onSubmit()">Hinzufügen</button>

          <!--<mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>-->

          <mat-card class="project-card" *ngFor="let p of projects | async">
                <mat-card-title>{{ p.title }}
                      <button (click)="editProject(p)"><mat-icon class="edit-icon" >edit</mat-icon></button>
                      <mat-icon class="delete-icon">delete</mat-icon>
                </mat-card-title>
                <mat-card-content>
                    {{ p.startDate }} bis {{ p.endDate }}

                </mat-card-content>
          </mat-card>


            <!--
            <mat-card class="project-card">
                <mat-card-title>Softwareprojekt ABC
                    <mat-icon style="margin-left: 25em;">edit</mat-icon>
                        <mat-icon>delete</mat-icon>
                </mat-card-title>
                <mat-card-content>
                    21.6.2021 bis 28.9.2021
                </mat-card-content>

          </mat-card>
          <mat-card class="project-card">
            <mat-card-title>Softwareprojekt QWI
                <mat-icon style="margin-left: 25em;">edit</mat-icon>
                        <mat-icon>delete</mat-icon>
            </mat-card-title>
            <mat-card-content>
                21.6.2021 bis 28.9.2021
            </mat-card-content>
      </mat-card>
      <mat-card class="project-card">
        <mat-card-title>Softwareprojekt ASD
            <mat-icon style="margin-left: 25em;">edit</mat-icon>
                        <mat-icon>delete</mat-icon>
        </mat-card-title>
        <mat-card-content>
            21.6.2021 bis 28.9.2021
        </mat-card-content>
  </mat-card>-->

        </mat-card-content>
    </mat-card>
</div>

<div class="flexbox-panel">

    <button mat-fab disabled color="warn" class="fab-prev" aria-label="Previous"
            matTooltip="Sie sind bereits am Anfang" [matTooltipShowDelay]="showDelay.value">
        <mat-icon class="prev">arrow_back_ios</mat-icon>
    </button>

    <button mat-fab color="warn" class="fab-next" aria-label="Next" [routerLink]="'/tasks'" matTooltip="Nächster Schritt" [matTooltipShowDelay]="showDelay.value">
        <mat-icon class="next">arrow_forward_ios</mat-icon>
    </button>
</div>


