
    <h1 class="main-title">
        JUST 2.0
    </h1>

    <div class="content flexbox-panel-content">
        <p class="intro-text">
            JUST 2.0 ist ein Projekt von Fischlmayr Jan, Huemer Patrick und Kowatschek Samuel, welches im Systemplanungsunterricht der HTBLA Leonding entwickelt wurde.
            <br>
            Das Ziel von JUST 2.0 ist die einfache Erklärung und Erstellung von Gantt Diagrammen.
            Dieses Projekt ist vor allem für den Einsatz im Ausbildungsreich, speziell für HAK-Schüler, gedacht.
            Unsere Website ist für diejenigen geeignet, die ein Gantt-Diagramm auf einfache Art und Weise lernen und verstehen wollen.
            Von Schülern/Lehrern im Bereich Projektmanagement bis hin zum Startup-Unternehmer, bei uns findet jeder Mensch, der das Gantt-Diagramm
            in seiner Basis verstehen möchte Anklang.
            <br>Das Projekt ist Open Source und unter der <a href="https://www.gnu.org/licenses/licenses.de.html">GNU Lizenz</a> lizensiert.
            <br>Die Website ist sowohl für Mobilgeräte als auch Desktop PC's geeignet.
          </p>


            <table>
                <tr>
                    <td>
                      <button class="intro-button buttons-big-screen" mat-raised-button [routerLink]="'/projects'">
                          Neues Gantt erstellen
                      </button>
                    </td>
                    <td>
                      <button class="intro-button buttons-big-screen" mat-raised-button  [routerLink]="'/oldGantt'">
                          Altes Gantt editieren
                      </button>
                    </td>

                </tr>
            </table>
            <button class="tutorial-button buttons-big-screen" color="warn" mat-raised-button [routerLink]="'/tutorial'">
                Tutorial ansehen
            </button>

    </div>

<!--
    <div class="flexbox-panel">

        <button mat-fab disabled color="warn" class="fab-prev" aria-label="Previous"
                matTooltip="Sie sind bereits am Anfang" [matTooltipShowDelay]="showDelay.value">
            <mat-icon class="prev">arrow_back_ios</mat-icon>
        </button>

        <button mat-fab color="warn" class="fab-next" aria-label="Next" [routerLink]="'/projects'"
                matTooltip="Nächster Schritt" [matTooltipShowDelay]="showDelay.value">
            <mat-icon class="next">arrow_forward_ios</mat-icon>
        </button>
    </div>-->


