@font-face { font-family: HelveticaNeueBold; src: url('../../../../fonts/FreeSansBold.otf'); } 
@font-face { font-family: HelveticaNeue; src: url('../../../../fonts/FreeSans.otf'); } 
@font-face { font-family: HelveticaNeueBoldBoldItalic; src: url('../../../../fonts/FreeSansBoldOblique.otf'); } 
@font-face { font-family: HelveticaNeueHollow; src: url('../../../../fonts/nimbus-sans-becker-outdbol.ttf'); } 

h1.main-title{
    font-size: 3rem;
    font-family: 'HelveticaNeueHollow';
}