<mat-progress-bar mode="determinate" value="0" color="warn" style="width: 35%; top: 3em;"></mat-progress-bar>

    <h1 class="main-title">
        JUST 2.0
    </h1>

    <p>
      JUST 2.0 ist ein Projekt von:
      Fischlmayr Jan, Huemer Patrick und Samuel Kowatschek
      <br>
      Das Ziel von JUST 2.0 ist die einfache Erklärung und Erstellung von Gantt Diagrammen. Dieses Projekt ist vor allem für den Einsatz im Ausbildungsreich gedacht, unsere Zielgruppe HAK-Schüler sind.
      <br>Das Projekt ist Open Source und ist unter der GNU Lizenz lizensiert.
      <br>Das Projekt läuft auf der Leocloud der HTBLA Leonding
      <br>Die Website ist sowohl für Mobilgeräte als auch Desktop PC's designed.

      3 Möglichkeiten:
      neues Gantt
      bestehendes gantt editieren
      tutorial
    </p>

    <div class="flexbox-panel">

        <button mat-fab disabled color="warn" class="fab-prev" aria-label="Previous"
                matTooltip="Sie sind bereits am Anfang" [matTooltipShowDelay]="showDelay.value">
            <mat-icon class="prev">arrow_back_ios</mat-icon>
        </button>

        <button mat-fab color="warn" class="fab-next" aria-label="Next" [routerLink]="'/projects'"
                matTooltip="Nächster Schritt" [matTooltipShowDelay]="showDelay.value">
            <mat-icon class="next">arrow_forward_ios</mat-icon>
        </button>
    </div>


