.home, .todo, .calendar, .projects, .settings{
    background: #375398;
    height: 100vh;
    margin-left: 250px;
}

h1{
    font-size: 3rem;
    color: white;
    margin-left: 1em;
    padding-top: 1em;
}
