@page "/home"
@using Microsoft.AspNetCore.Components.Routing
<head>
    <link href="../css/pages.css" rel="stylesheet" />
    <link href="../css/button.css" rel="stylesheet" />
    <link href="../css/home.css" rel="stylesheet" />
</head>
<div className='home'>
    <h1>Willkommen!</h1>
    <div className='button-area'>
        <button class="btn">
            <NavLink class="nav-link" href="tasks">
                <span class="oi" aria-hidden="true"></span> Tasks
            </NavLink>
        </button>

        <button class="btn">
            <NavLink class="nav-link" href="projects">
                <span class="oi" aria-hidden="true"></span> Projects
            </NavLink>
        </button>

        <button class="btn">
            <NavLink class="nav-link" href="calender">
                <span class="oi" aria-hidden="true"></span> Calender
            </NavLink>
        </button>

        <button class="btn">
            <NavLink class="nav-link" href="settings">
                <span class="oi" aria-hidden="true"></span> Settings
            </NavLink>
        </button>

    </div>
    <h1>Anstehende Tasks</h1>
    <div className='todo-area'>
        @*<TodoListComponent/>*@
    </div>
    <h1>Anstehende Termine</h1>
</div>

@code {

}
